<%# encoding: UTF-8 -%>
<%= render('fragment/header') %>
<nav class="breadcrumbs">
  <ul>
    <li><a href="/"><%= Mulukhiya::Environment.controller_class.name %></a>
    <li><a href="/mulukhiya">モロヘイヤHOME</a>
    <li>アプリケーションの認証
  </ul>
</nav>
<main id="app">
  <h2>アプリケーションの認証</h2>
  <% if params[:status].to_i < 400 %>
    <p>認証が完了しました。</p>
    <div>
      <h3>アクセストークン</h3>
      <textarea id="token_text" class="short"><%= params[:result][:access_token] %></textarea>
      <i class="fas fa-clipboard" v-on:click="copyToken"></i>
    </div>
    <div>
      <h3>Webhook URL</h3>
      <textarea id="webhook_text"><%= params[:hook_url] %></textarea>
      <i class="fas fa-clipboard" v-on:click="copyWehbook"></i>
    </div>
  <% else %>
    <p class="alert">エラー（<%= params[:status] %>）</p>
  <% end %>
</main>
<script>
new Vue({
  el: '#app',
  mounted: function () {
    localStorage.setItem('mulukhiya_token', '<%= Mulukhiya::Crypt.new.encrypt(params[:result][:access_token]) %>')
  },
  methods: {
    copyToken: function () {
      document.getElementById('token_text').select()
      document.execCommand('copy')
    },
    copyWehbook: function () {
      document.getElementById('webhook_text').select()
      document.execCommand('copy')
    },
  },
})
</script>
<%= render('fragment/footer') %>
